These are the exercises for the chapter 2.

2.2 Suppose that the data for analysis includes the attribute age. The age values for the data

tuples are (in increasing order) 13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 30,

33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70.

In [1]:
#a

In [7]:
#b

In [2]:
#d

In [3]:
#e

In [4]:
#f

2.3 Suppose that the values for a given set of data are grouped into intervals. The intervals

and corresponding frequencies are as follows:

In [5]:

#2.3

2.3 Suppose that the values for a given set of data are grouped into intervals. The intervals

and corresponding frequencies are as follows:

In [6]:


#2.4

2.4 Suppose that a hospital tested the age and body fat data for 18 randomly selected adults

with the following results:

In [14]:

age <- c(23,23,27,27,39,41,47,49,50,52,54,54,56,57,58,58,60,61)

In [16]:
fat <-c(9.5,26.5,7.8,17.8,31.4,25.9,27.4,27.2,31.2,34.6,42.5,28.8,34.4,30.2,34.1,32.9,41.2,35.7)

2.6 Given two objects represented by the tuples (22, 1, 42, 10) and (20, 0, 36, 8):

In [7]:
#2.6